@import '_config.sass';

input:active,
input:focus,
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
textarea {
  resize: none;
}
a, a:focus, a:active {
  outline: none;
}
a, a:hover {
  text-decoration: none;
}
button, button:focus, button:active {
  outline: none;
}
img {
  border-style: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clear-both {
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.position-relative {
  position: relative;
}



.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 165px;
  padding: 20px 0 33px 0;
  background-color: rgba(197, 197, 197, 0.2); ;
  // background: url(../images/header-temp-bg.jpg) center no-repeat;
  z-index: 1;
}
.header .horizontal-line-wrapper {
  position: relative;
}
.header .horizontal-line {
  position: absolute;
  right: 0;
  bottom: -40px;
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
}
.header .header-address {
  margin: 0 0 45px 0;
}
.header .header-contacts {
  display: flex;
  margin: 0 0 30px 0;
  justify-content: end;
}
.header .header-contacts .header-phone {
  margin: 0 20px 0 0;
}
.header .header-contacts .header-phone__link {
  color: #fff;
}
.header .header-contacts .social-icon__link {
  margin: 0 0 0 16px;
}
.header .header-callback-btn {
  display: block;
  width: 374px;
  height: 58px;
  margin: 0 0 0 auto;
  padding: 0;
  border: 1px solid #fff;
  border-radius: 29px;
  background-color: transparent;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.header .top-menu .menu {
  font-size: 0;
}
.header .top-menu .menu .menu-item {
  display: inline-block;
  margin: 0 4%;
  border-bottom: 1px solid transparent;
  transition: border-bottom .3s;
}
.header .top-menu .menu .menu-item:first-child {
  margin: 0 4% 0 0;
}
.header .top-menu .menu .menu-item:last-child {
  margin: 0 0 0 4%;
}
.header .top-menu .menu .menu-item a {
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}
.header .top-menu .menu .menu-item:hover {
  border-bottom: 1px solid #fff;
}


// main section
.main-section {
  position: relative;
  height: 675px;
  background: url(../images/dist/main-bg.png) top no-repeat;
}
.main-section .logo {
  width: 300px;
  height: 220px;
  margin: 0 auto;
  padding: 265px 0 0 0;
}
.main-section .order {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  width: 600px;
  height: 150px;
  margin: 0 auto;
  padding: 32px 25px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 69px 28px rgba(156, 156, 156, 0.01), 0px 39px 23px rgba(156, 156, 156, 0.03), 0px 17px 17px rgba(156, 156, 156, 0.04), 0px 4px 10px rgba(156, 156, 156, 0.05), 0px 0px 0px rgba(156, 156, 156, 0.05);
}
.main-section .order-title {
  margin: 0 0 25px 0;
  font-family: 'jost-light';
  font-size: 24px;
  color: #211F1F;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.main-section .form-group {
  display: flex;
  justify-content: space-between;
}
.main-section .form-group .input-wrapper {
  position: relative;
  width: 47%;
  height: 30px;
}
.main-section .form-group .input {
  width: 100%;
  height: 100%;
  padding: 0 0 5px 35px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #211F1F;
  border-left: none;
  color: #211f1f;
}
.main-section .form-group .input::placeholder {
  font-family: 'jost-light';
  font-size: 18px;
  color: #A9A9A9;
}
.main-section .form-group .input-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
}
.main-section .form-group .start-date::before {
  background: url(../images/calendar-icon.svg) center no-repeat;
}
.main-section .form-group .guest::before {
  background: url(../images/guest-icon.svg) center no-repeat;
}
.main-section .form-group .input-guest {
  -moz-appearance: textfield;
}
.main-section .form-group .input-guest::-webkit-inner-spin-button,
.main-section .form-group .input-guest::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

// rooms
.rooms-section {
  padding: 230px 0 100px 0;
}
.rooms-section .section-title {
  margin: 0 0 64px 0;
  font-family: 'jost-bold';
  font-size: 64px;
  color: #211F1F;
  text-transform: uppercase;
}
.rooms-section .rooms-item {
  // height: 442px;
  border-radius: 30px;
  background-color: #211F1F;
}
.rooms-section .rooms-item-content {
  // padding: 32px 32px 32px 40px;
  padding: 9% 9% 13% 9%;
}
.rooms-section .rooms-item-category {
  font-family: 'jost-light';
  font-size: 24px;
  font-style: italic;
}
.rooms-section .rooms-item-title {
  font-family: 'jost-medium';
  font-size: 22px;
  text-transform: uppercase;
}
.rooms-section .rooms-item-image {
  position: relative;
  height: 0;
  padding: 0 0 70% 0;
  border-radius: 30px;
  overflow: hidden;
}
.rooms-section .rooms-item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// about section
.about-section {
  padding: 230px 0 64px 0;
  background-color: #211F1F;
}
.about-section .about-section-content {
  font-size: 24px;
}
.about-section .list-title {
  margin-bottom: .8rem;
  font-family: 'jost-medium';
}
.about-section .about-list-item {
  position: relative;
  display: flex;
  margin-bottom: .8rem;
  align-items: center;
}
.about-section .about-list-item-dot {
  width: 10px;
  height: 10px;
  margin: 5px 20px 0 0;
  border-radius: 5px;
  background-color: #816347;
  flex-shrink: 0;
}
.about-section .about-list-image {
  width: 40px;
  height: 40px;
  margin: 0 20px 0 0;
  flex-shrink: 0;
}
.about-section .about-list-image img {
  width: 100%;
}



// Demo styles
.fake-block {
  margin: 0 0 100px 0;
}
.main {
  position: relative;
  height: 500px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.how-we-work {
  height: 300px;
}
.croped {
  width: 100px;
  height: 70px;
}
.croped img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* mobile menu */
.burger-menu-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
  width: 42px;
  height: 42px;
  padding: 7px;
  border-radius: 21px;
  background-color: #FAFAFA;
  cursor: pointer;
  z-index: 10;
}
.burger-menu-wrapper.active {
  background-color: transparent;
}
.burger-menu-wrapper .burger-menu {
  position: relative;
  height: 100%;
}
.burger-menu-wrapper .burger-menu:before,
.burger-menu-wrapper .burger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #8278B8;
  transition: all .5s;
}
.burger-menu-wrapper .burger-menu:before {
  top: 6px;
}
.burger-menu-wrapper .burger-menu:after {
  top: 20px;
}
.burger-menu-wrapper .close:before,
.burger-menu-wrapper .close:after {
  top: 12px;
}
.burger-menu-wrapper .close:before {
  transform: rotate(-45deg);
}
.burger-menu-wrapper .close:after {
  transform: rotate(45deg);
}
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 130px 30px 30px 30px;
  background-color: #fff;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
.mobile-menu .city-select {
  margin: 0 0 32px 0;
  cursor: pointer;
}
.mobile-menu .city-select .city-name {
  border-bottom: 1px solid #8278B8;
}
.mobile-menu .menu {
  margin: 0 0 64px 0;
  padding: 0;
  list-style: none;
}
.mobile-menu .menu-item {
  padding: 10px 0;
}
.mobile-menu .menu-item a {
  font-family: 'montserrat-bold';
  color: #3E3E3E;
}
.mobile-menu .phone-text {
  color: #3E3E3E;
}
.mobile-menu .phone-text {
  border-bottom: 1px solid #8278B8;
}
.mobile-menu-open {
  opacity: 1;
  visibility: visible;
}

/* modal */
.modal-window {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  z-index: 100;
}
.modal-window.active {
  display: block;
}
.modal-window .modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 5%;
  padding: 0 12px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.modal-window .modal-wrapper.active {
  opacity: 1;
  visibility: visible;
}
.modal-window .modal-area {
  position: relative;
  max-width: 440px;
  margin: 0 auto;
  padding: 30px 30px 0 30px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
.modal-window .modal-close {
  position: absolute;
  top: 35px;
  right: 28px;
  cursor: pointer;
}
.modal-window .close {
  position: relative;
  width: 21px;
  height: 21px;
  border-radius: 3px;
}
.modal-window .close:before,
.modal-window .close:after { 
  content: "";
  position: absolute;
  top: 0;
  left: 9px;
  width: 3px;
  height: 20px;
  border-radius: 2px;
  background-color: #A9A9A9;
  transition: background-color .3s;
}
.modal-window .close:before {
  transform: rotate(45deg);
}
.modal-window .close:after {
  transform: rotate(-45deg);
}
.modal-window .modal-title {
  margin: 0 0 20px 0;
  font-family: 'montserrat-semibold';
  font-size: 20px;
  border-bottom: 1px solid #E8E8E8;
}
.modal-window .form {
  margin: 30px 0 90px 0;
}
.modal-window .label {
  display: block;
  width: 100%;
  margin-bottom: 32px;
  font-size: 16px;
}
.modal-window .input-field {
  width: 100%;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #8278B8;
  border-left: none;
  font-family: 'montserrat-semibold';
  color: #8278B8;
}
.modal-window .input-field::placeholder {
  color: #E8E8E8;
  opacity: 1;
}
.modal-window .input-field::-ms-input-placeholder {
  color: #E8E8E8;
}
.modal-window .required {
  border-bottom: 1px solid #FF7272;
}
.modal-window .required::placeholder {
  color: #FF7272;
}
.modal-window .required::-ms-input-placeholder {
  color: #FF7272;
}
/* .modal-window .required-text {
  font-size: 14px;
} */
.modal-window .checkbox-text {
  display: block;
  font-size: 12px;
  line-height: 1.4;
}
.modal-window .privacy-policy-btn {
  color: #3E3E3E;
  text-decoration: underline;
}
.modal-window .submit-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 64px;
  margin: 30px 0 0 0;
  border: none;
  background-color: #8278B8;
  font-family: 'montserrat-semibold';
  font-size: 16px;
  color: #fff;
}
.modal-window .submit-btn:disabled {
  color: #A9A9A9;
}
.modal-window .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.modal-window .custom-checkbox + .custom-checkbox-label::before {
  content: '';
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  margin: 3px 10px 10px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 70%;
  background-color: #fff;
  cursor: pointer;
}
.modal-window .custom-checkbox:checked + .custom-checkbox-label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%238278B8%0D%0A' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.modal-window .custom-checkbox-label {
  display: block;
  margin-top: 20px;
}











@media only screen and (max-width : 1400px) {
  .rooms-section .rooms-item-title {
    font-size: 19px;
  }
  
}


@media only screen and (max-width : 1200px) {

  
}

@media only screen and (max-width : 992px) {
  .header {
    .menu .menu-item a {
      font-size: 13px;
    }
    .btn {
      padding: 0 19px;
      font-size: 13px;
    }
  }
  .main {
    .title {
      padding: 200px 0 10px 0;
    }
  }
  .how-we-work {
    .step-item .number {
      font-size: 110px;
    }
    .title {
      padding: 0;
      font-size: 14px;
    }
    .description {
      font-size: 14px;
    }    
  }
  .products {
    .products-item .item-title {
      min-height: 91px;
    }
    .products-item .item-button {
      padding: 15px;
    }
    .products-item .item-button .btn {
      font-size: 13px;
    }
  }
  .team {
    .team-item .photo {
      height: 150px;
    }
    .top-row .team-item .photo {
      width: 250px;
      height: 250px;
    }
  }
  .chess {
    .rectangle {
      padding: 30px;
    }
    .title {
      font-size: 16px;
      min-height: 150px;
    }
    .rectangles .more {
      font-size: 14px;
      width: 150px;
    }
  }
  .form {
    .photo {
      display: none;
    }
  }
}

@media only screen and (max-width : 768px) {
  .hidden-mobile {
    display: none;
  }
  .hidden-desktop {
    display: block;
  }
  .section {
    padding: 60px 0;
  }
  .header {
    padding-top: 30px;
    .logo {
      width: 40%;
    }
    .top-menu {
      display: none;
    }
    .button-wrapper {
      display: none;
    }
  }
  .main {
    background: none;
    height: auto;
    .title {
      font-size: 34px;
      padding: 100px 0 10px 0;
      text-align: center;
    }
    .description {
      width: 100%;
      text-align: center;
    }
  }
  .how-we-work {
    padding-top: 40px;
    .step-item {
      margin: 10px 0;
    }
    .step-item .number {
      font-size: 90px;
    }
    .title {
      padding-top: 10px;
    }
  }
  .chess {
    .rectangle {
      border-radius: 10px;
      margin: 5px 0;
    }
  }
  .form {
    .input-wrapper {
      display: block;
    }
    .input-field {
      width: 100%;
    }
  }
  .footer {
    .footer-text {
      text-align: left;
    }
    .copyright {
      padding-top: 30px;
    }
  }
  .modal .title {
    font-size: 19px;
  }
}

@media only screen and (max-width : 480px) {
  .section-title {
    font-size: 30px;
  }
  .circle {
    width: 40px;
    height: 40px;
  }
  .circle span {
    top: 18px;
    left: 6px;
  }
  .prev-arrow {
    margin-right: 5px;
  }
  .next-arrow {
    margin-left: 5px;
  }
  .prev-arrow::after,
  .prev-arrow::before {
    left: 4px;
  }
  .prev-arrow::before {
    top: 22px;
  }
  .prev-arrow::after {
    top: 14px;
  }
  .next-arrow::after,
  .next-arrow::before {
    right: 4px;
  }
  .next-arrow::before {
    top: 22px;
  }
  .next-arrow::after {
    top: 14px;
  }
  .main {
    .title {
      font-size: 30px;
    }
    .advantages-text {
      font-size: 15px;
    }
  }
  .how-we-work {
    .step-item .number {
      font-size: 70px;
    }
    .title {
      padding-top: 7px;
    }
  }
  .products {
    .products-item .item-button .btn {
      font-size: 15px;
    }
    .arrow-wrapper {
      top: -65px;
    }
  }
  .about {
    .image img {
      width: 80%;
    }
  }
}